  
  <app-admin-dashboard-header></app-admin-dashboard-header>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Starter Page</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Starter Page</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

<div class="container text-center">
    <br><br>
  <button  class="btn btn-success"><a style="color:white;" routerLink="/add-category">Add New Category</a></button>
</div>
<br><br>

<div class="container">
<table class="table table-dark">
  <thead>
    <tr>
    <th >Name</th>
    <th >Description</th>
    <th>Created at</th>
    <th colspan="2">Action</th>
    </tr>
  </thead>
    <tr>
        <td></td>
        <td><a  class="btn btn-primary"href="">Edit</a></td>
        <td ><a class="btn btn-danger" href="" onclick= "return confirm('are you sure ?');">Delete</a></td>
    </tr>
   
</table>
</div>
  </div>
<app-admin-dashboard-footer></app-admin-dashboard-footer>
